* ¨{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*AJUSTES GENERALES DEL BODY*/
body {
	background:#262525;
	color:burlywood;
	font-family: 'Roboto', sans-serif;
    
}

header{
    position:relative;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5 ),
        rgba(0,0,0,0.5)
    )
    ,url("../imagen/Harmless-Harvest-Thailand-Joey-L-Photographer-03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

header .logo{
    margin: 0%;
    padding: 25px 30px;
    font-weight: bold;
    color:burlywood;
    font-size: 2.5em;
}

/* AJUSTES DEL NAV CON FLEXBOX*/
 header nav {
    display: flex;
    flex-direction:row;
    text-align:right;
    padding-bottom: 25px;
}
header a {
	padding: 10px 25px;
    text-decoration:none;
    font-weight: bold;
    color:burlywood;
    font-size: 1.2em;
}

header a:hover {
    color:rgb(6, 5, 5);
    font-size: 1.5em
}
.contenedor {
	width: 200%;
	max-width: 1200px;
	margin: auto;
	padding: 40px 0;

    /* APLICANDO GRID AL CONTENDEDOR*/
    display: grid;
    grid-template-columns: 4fr;
    gap: 20px;
    

	
}

.titulo {
	font-size: 24px;
	padding: 20px 0;
}

.contenedorImagenes {

    /* GRID  EN LAS CARTAS*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
    
	
}

.card {
	border-radius: 10px;
	min-height: 200px;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
}

.card:hover {
    transform: scale(1.1);
    transition: 1s;
    opacity:0;

}


.card .textos {
	height: 100%;
	/* APLICANDO FLEXBOX EN LOS TEXTOS*/ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	
}
 /* Ajuste de footer*/

.container{
    margin: 0;
    color:rgb(100, 100, 100) ;
    padding: 12px;
     height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}


@media only screen and (max-width:600px) {
    header{
        flex-direction: row;
        position: fixed;
        width: 100%;
    }
    header nav {
        flex-direction: row;
        
    }
}
