/* importando*/
/* importo variables al header*/
header {
  background-color: aqua; }
  header nav {
    text-align: right; }
    header nav ul {
      color: black; }
      header nav ul li {
        list-style: none; }
        header nav ul li a {
          text-decoration: none; }

/* agregando maps*/
.facebook {
  color: red; }

.instagram {
  color: blue; }

.twitter {
  color: black; }
